body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Images/Background-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}
header{
    background-color: #11151E;
    height: 80px;
    position: fixed;
}
nav{
    position: fixed;
    width: 1150px;
    height: 80px;
    box-sizing: border-box;
    background-color: rgb(33, 33, 33);
    display: block;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a, .box1 a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 900;
}
nav img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.logo{
    box-sizing: border-box;
    border: 5px solid #00d084;
    width: 80px;
    height: 100%;
    background-color:  #00d084;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nam{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 0px;
}
.fa-caret-up{
    margin-left: 10px;
}
.logo .fa-sharp{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.at a:hover{
    color: #00d084;

}
.content{
    background-image: url(Images/ds2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    color: azure;
    width: 100%px;
    height: 600px;
}
.box1, .box2{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 35px;
}
.content h1{
    font-size: 3rem;
    font-weight:900;
    margin-top: 160px;
    margin-left: -80px;
}

.de, .co, .pl{
    color: #00d084;
    font-weight:900;

}

p{
    color: rgb(189, 187, 187);
    text-align:justify;
    margin-top:0;
    font-size: 1rem;
    line-height: 25px;

}
.box1 .boxs a{
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}
.boxs {
    margin-left: -85px;
}
.boxs a, .fa-lg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boxs .bt, .box4 .bt{
    background-color: #00d084;
}
.boxs .bt:hover{
    background-color: rgb(41, 40, 40);
}
.boxs .fa-lg {
    background-color: #00d084;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.fa-plays{
    display: inline-block;

}
.box2 img{
    width: 400px;
    height: 420px;
    margin-top: 160px;
}